@import url('https://fonts.cdnfonts.com/css/rookiepunk');
/*fonte de titulo -- essa fonte tem problema com numero*/
/*@import url('https://fonts.cdnfonts.com/css/bosil-unique'); /*fonte do corpo*/
@import url('https://fonts.cdnfonts.com/css/rosbed');
/*fonte da navbar*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Rosbed', sans-serif;
  letter-spacing: 1px;
  background-color: rgb(54, 54, 55);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}


.rookie-font {
  font-family: 'RookiePunk', sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
}

.navbar {
  background-color: #110E16;
  height: 100vh;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0);
}

.navbar-content {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-box {
  width: 45px;
  height: 30px;
  border-radius: 4px;
}

.logo span {
  font-size: 1rem;
  font-weight: 700;
  color: #ddd;
  text-transform: uppercase;
}

/* menu dos botoes */
.menu {
  display: flex;
  align-items: end;
  background: #110E16;
  border-radius: 8px;
  padding: 4px;
  gap: 2px;
}

/* coisas dos botoes - links */
.menu a {
  background: linear-gradient(to bottom, #414141, #242424);
  color: #ccc;
  text-align: center;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.15s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}


.menu a:hover {
  filter: brightness(1.2);
  color: #eeea7f;
  text-shadow: 0 0 8px #fafdca;
}


/* campos da dash **************************************************************************** */

/* lado esquerdo */
.dashboards1 {
  margin: 20px 15px 20px 20px;
  width: 50%;
  height: auto;
  flex-direction: column;

}

.linha-kpi {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  gap: 15px;
  display: flex;
}

.caixa-kpi {
  width: 365px;
  height: 130px;
  background-color: #4a4a5a;
  border-radius: 15px;
  padding: 20px;
  justify-content: center;
  gap: 20px;
  display: flex;
  flex-direction: column;

}

.acertosArtista {
  margin-top: 15px;
  width: 100%;
  height: 505px;
  background-color: #575763;
  border-radius: 15px;
}

/* lado direito */
.dashboards2 {
  margin: 20px 20px 20px 3px;
  width: 30%;
  height: auto;
  flex-direction: column;
}

.certosGenero {
  width: 100%;
  height: 250px;
  background-color: #575763;
  border-radius: 15px;
}

.estatisticas {
  margin-top: 15px;
  width: 230px;
  height: 130px;
  background-color: #4a4a5a;
  border-radius: 15px;
  gap: 20px
}