body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/img/fundo-telaJogo.png");   
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e3d3bb; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}