/*esse doc mexe nas paginas de INDEX*/
@import url('https://fonts.cdnfonts.com/css/rookiepunk');
@import url('https://fonts.cdnfonts.com/css/bosil-unique'); /*fonte do corpo*/
@import url('https://fonts.cdnfonts.com/css/rosbed'); /*fonte da navbar*/

/*SECTION DAS CIDADES - 2*/
.cidades-container {
  display: flex;
  width: 100%;
  background-color: #7a1f1a;
  margin-right: -5px;
}

.cidades-esquerda {
  width: 600px;            
  
}

.cidades-esquerda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;                
}

.cidades-direita {
  flex: 1;  
  min-width: 0;            
  display: flex;
  flex-direction: column;
  margin: 50px 10px; 
  justify-content: left;
}


.cidades {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding: 20px 5px 20px 5px; 
  scroll-behavior: smooth;
}

/* cidades */
.cidade-card {
  background-color: #131018;
  width: 270px;
  height: 550px;
  border-radius: 15px;
  padding: 15px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  overflow: hidden;
}

.cidade-card img {
  display: flex;
  width: 90%;
  height: 60%;
  border-radius: 8px;
  object-fit: cover;
}

.texto-card {
  opacity: 0;
  margin: 20px 5px;
  transition: 0.3s ease;
  color: #fff;
  font-size: 17px;
  text-align: justify;
  line-height: 1.3;
  

  bottom: 20px;
  left: 20px;
  right: 20px;
}

.cidade-card:hover .texto-card {
  opacity: 1; /*p deixar o texto visivel*/
}

.cidade-card:hover {
  filter: brightness(75%);
  transition: 0.3s ease;
}


/*SECTION DO CATALOGO - 3 */
.catalogo-container {
  display: flex;
  height: 120vh; /* ocupa a tela toda */
  overflow: hidden;
}


.catalogo-esquerda {
  flex: 1; 
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalogo-esquerda img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /*so tirou a distorcao da img*/
}


.catalogo-direita {
  flex: 1.3;
  background-color: #2c2b2f;
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.catalogo-direita h2 {
  margin: 0 0 32px 0;
  font-size: 26px; 
  text-transform: lowercase;
}

.catalogo-scroll {
  overflow-y: auto;
  flex: 1;
  padding-right: 10px;
}


/*  itens que estao dentro do catalogo  */
.item {
  background-color: #3d3b3f;
  margin: 20px;
  border-radius: 10px;
  height: 120px;
  margin-bottom: 15px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*SECTION DO JOGO  - 4 +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.jogo-container {
  display: flex;
  height: 100vh;
}

/*  esquerda  */
.jogo-esquerda {
  flex: 1;
  background-color: #1e1d1f;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jogo-esquerda h2 {
  font-size: 26px;
  margin-bottom:35px;
}

/* Caixa de texto laranja p as regras */
.caixa-texto {
  background-color: #b14b15;
  background-image: url(../assets/img/fundo_laranja2_jogo.png);
  padding: 30px;
  border-radius: 10px;
  width: 550px;
  height: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.caixa-texto p {
  margin: 10px 0;
  line-height: 1.4; /*separação entre linhas*/
}

/* botão do jogo */
.botao-iniciar {
  margin-top: 20px;
  background-color: #f5f5f5;
  color: #000;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  justify-content: right;
}

.botao-iniciar:hover {
  background-color: #ddd;
}

.jogo-direita {
  flex: 1.2;
  background-color: #2c2b2f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colagem {
  width: 100%;
  height: 100%;
}

.colagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
