/*esse doc mexe nas paginas de INDEX*/

@import url('https://fonts.cdnfonts.com/css/rookiepunk');
/*fonte de titulo*/
/*@import url('https://fonts.cdnfonts.com/css/bosil-unique'); /*fonte do corpo*/
@import url('https://fonts.cdnfonts.com/css/rosbed');
/*fonte da navbar*/
@import url('https://fonts.cdnfonts.com/css/vtks-highlight');
/*bastidores talvez*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rosbed', sans-serif;
  letter-spacing: 1px;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}


.rookie-font {
  font-family: 'RookiePunk', sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 40px;
  right: 40px;
  background-color: #110E16;
  border-radius: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /*faz ficar uma camada acima*/
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.navbar-content {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* parte da logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-box {
  width: 45px;
  height: 30px;
  border-radius: 4px;
  margin-top: -15px;
}

.logo span {
  font-size: 1rem;
  font-weight: 700;
  color: #ddd;
  text-transform: uppercase;
}

/* menu dos botoes */
.menu {
  display: flex;
  align-items: center;
  background: #110E16;
  border-radius: 8px;
  padding: 4px;
  gap: 2px;
}

/* coisas dos botoes - links */
.menu a {
  background: linear-gradient(to bottom, #414141, #242424);
  color: #ccc;
  text-align: center;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.15s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

/* Hover com brilho */
.menu a:hover {
  filter: brightness(1.2);
  color: #eeea7f;
  text-shadow: 0 0 8px #fafdca;
}

/* dropdown dos artistas - fica escondido*/
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

/* botão do artistas */
.dropdown .drop-botao {
  background: linear-gradient(to bottom, #414141, #242424);
  color: #ccc;
  text-align: center;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.15s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.dropdown .drop-botao:hover {
  filter: brightness(1.2);
  /*efeito de q ta brilhando quando passa o mouse*/
  color: #eeea7f;
  text-shadow: 0 0 8px #fafdca;
}

/* conteúdo do dropdown */
.dropdown-conteudo {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #1d1d1d;
  border-radius: 0px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  flex-direction: column;
  min-width: 140px;
  z-index: 10;
}

/* coisa p os itens do dropdown */
.dropdown-conteudo a {
  color: #ccc;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.dropdown-conteudo a:hover {
  background: #2c2c2c;
  color: #cae2fd;
}

/* caixinha quando passa o mouse */
.dropdown:hover .dropdown-conteudo {
  display: flex;
}

.video-section {
  width: 100%;
  height: 650px;
  overflow: hidden;
  position: relative;
  background: #000;
}

.video-section iframe {
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
  /*nao sei se gostei - ta torto o video ainda*/
}

#divisao-cores {
  height: 15px;
  background-image: url("../assets/img/coresDivisao.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
}

.bastidores {
  height: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C456E;
  flex: 1;
  flex-direction: row;
  margin: 0;
}


.container-img img {
  display: flex;
  justify-content: left;
  align-items: center;
  height: auto;
  width: 100%;
  background-size: cover;
}

/* parte do texto na direita ************************************** */
.container-bastidores {
  width: 100%;
  height: 100%;
  padding: 40px;
  font-family: Arial, sans-serif; /*a outra fotne nao gosta de numero*/
  color: white;
  box-sizing: border-box;
}

.cabecalho-bastidores {
  align-items: center;
  gap: 15px;
  display: flex;
  margin-bottom: 40px;
}

.cabecalho-bastidores h1 {
  font-size: 40px;
  font-weight: bold;
}

.linha {
  width: 3px;
  height: 40px;
  background: #f0c240;
}

.subtitulo {
  font-size: 18px;
}

.conteudo-bastidores {
  display: flex;
  gap: 40px;
}

.texto-bastidores {
  width: 40%;
}

.texto-bastidores h2 {
  font-size: 26px;
  margin-bottom: 5px;
}

.texto-bastidores h3 {
  font-size: 18px;
  margin-bottom: 20px;

}

.texto-bastidores p {
  font-size: 16px;
  line-height: 1.4;
}

.grade-caixas {
  width: 60%;
  display: grid;
  gap: 25px;
}

.caixa {
  width: 80%;
  height: auto;
  padding: 20px;
  background: #ce502d;
  border-radius: 6px;
}
